<header class="page-header">
  <h1 class="project-name">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  <h2 class="project-tagline">02561 - Computer Graphics</h2>

  <a href="https://github.com/jokklan/computer-graphics" class="btn">View on GitHub</a>
  <a href="https://github.com/jokklan/computer-graphics/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/jokklan/computer-graphics/tarball/master" class="btn">Download .tar.gz</a>
</header>
