<script id="vertex-shader" type="x-shader/x-vertex">
precision mediump float;

attribute vec4 vPosition;
varying vec4 fColor;

void main() {
  fColor = vec4( 0.0, 0.0, 0.0, 1.0 );
  gl_PointSize = 10.0;
  gl_Position = vPosition;
}
</script>

<script id="vertex-shader-color" type="x-shader/x-vertex">
precision mediump float;

attribute vec4 vPosition;
attribute vec4 vColor;
varying vec4 fColor;

void main() {
  fColor = vColor;
  gl_PointSize = 10.0;
  gl_Position = 0.5 * vPosition;
}
</script>

<script id="vertex-shader-square" type="x-shader/x-vertex">
precision mediump float;

attribute vec4 vPosition;
varying vec4 fColor;
uniform float theta;

void main() {
  fColor = vec4( 1.0, 1.0, 1.0, 1.0 );
  gl_PointSize = 20.0;
  gl_Position.x = -sin(theta) * vPosition.x + cos(theta) * vPosition.y;
  gl_Position.y =  sin(theta) * vPosition.y + cos(theta) * vPosition.x;
  gl_Position.z = 0.0;
  gl_Position.w = 1.0;
}
</script>

<script id="vertex-shader-circle" type="x-shader/x-vertex">
precision mediump float;

attribute vec4 vPosition;
varying vec4 fColor;
uniform float theta;

void main() {
  fColor = vec4( 1.0, 1.0, 1.0, 1.0 );
  gl_PointSize = 20.0;
  gl_Position.x = vPosition.x;
  gl_Position.y = sin(theta)/2.0 + vPosition.y;
  gl_Position.z = 0.0;
  gl_Position.w = 1.0;
}
</script>

<script id="fragment-shader" type="x-shader/x-fragment">
precision mediump float;

varying vec4 fColor;

void main() {
  gl_FragColor = fColor;
}
</script>
